# Python
__pycache__/
*.pyc
*.pyo
.venv/

# Data (optional - remove if you want the dataset on GitHub)
# data/

# VS Code
.vscode/
*.code-workspace

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db